body {
  background-color: #c5e4e7;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #5e7a7d;
}
.header {
  display: flex;
  justify-content: center;
  margin-top: 50px;

  color: #3d6666;
}
.App {
  margin-top: 40px;
  display: flex;
  flex-direction: column;

  background-color: #ffffff;
  box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
  border-radius: 25px 25px 0px 0px;
  padding: 62px 32px 32px 32px;
}
.inputContainer {
  display: flex;
  align-content: center;
}
.dollar {
  margin-bottom: 20px;
}
input {
  width: 311px;
  height: 48px;
  margin-bottom: 32px;
  border: none;
  text-align: right;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  text-align: right;

  color: #00474b;
}
.selectTip {
  margin-bottom: 8px;
}
.buttons {
  margin-bottom: 32px;
}
.percentButton {
  width: 146.63px;
  height: 48px;
  background: #00474b;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  border-radius: 5px;
  margin-left: 8px;
  margin-top: 8px;
  border: none;
}
.percentButton:hover {
  background: #26c2ae;
  color: black;
  cursor: pointer;
}

.result {
  background: #00474b;
  padding: 39px;
  padding: 37px 22px 24px 24px;
  border-radius: 15px;
}
.tipContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 21px;
  color: white;
}
.tip {
  color: #26c2ae;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 47px;
  text-align: right;
  letter-spacing: -0.666667px;
}
.totalContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 33px;
  color: white;
}
.personIcon {
  margin-bottom: 25px;
}
.person {
  color: #26c2ae;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 47px;
  text-align: right;
  letter-spacing: -0.666667px;
}
.reset {
  width: 100%;
  height: 48px;
  background: #26c2ae;
  border-radius: 5px;
}
.reset:hover {
  background: #0d686d;
  color: gray;
  cursor: pointer;
}
.avoidFlex {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #ffffff;
}
.smallFont {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;

  color: #7f9d9f;
}
@media (min-width: 768px) {
  .App {
    flex-direction: row;
    height: 417px;
    padding-bottom: 48px;
    justify-content: center;
  }
  .left {
    width: 420px;
  }
  .inputContainer {
    width: 379px;
  }

  .buttons {
    margin-bottom: 40px;
  }
  .percentButton {
    width: 117px;
  }

  .result {
    width: 413px;
  }
  .reset {
    margin-top: 122px;
  }
}
